.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: calc(var(--current-spacing-xs) * 0.6) calc(var(--current-spacing-xs));
  cursor: pointer;
  border-radius: var(--current-border-radius);
  border: solid 1px var(--border-color);
  transition: all ease-in-out 0.1s;
}
.buttonActive {
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: auto;
}
.buttonBg {
  background-color: var(--background-color);
  color: var(--text-color);
}
.buttonBg:hover {
  background-color: var(--hover-color);
}
.buttonText {
  background-color: var(--text-color);
  color: var(--background-color);
}
.buttonText:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}
.buttonDisable {
  background-color: var(--background-color);
  color: var(--border-color);
  cursor: default;
}
.buttonDisable:hover {
  color: var(--border-color);
  cursor: default;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--current-spacing-xs) * 0.5);
}
