.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  background-color: var(--text-color);
  width: fit-content;
  padding: calc(var(--current-spacing-xs)*0.3)
    calc(var(--current-spacing-xs));
  cursor: pointer;
  border-radius: 0.2rem;
  margin: auto;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--current-spacing-xs)*0.5);
}
