[data-theme='light'] {
  --primary-color: #306bff;
  --hover-color: rgba(58, 114, 255, 0.171);
  --background-color: #ffffff;
  --text-color: #1e293b;
  --light-text-color: #3A414A;
  --border-color: #dde2e8;
  --primary-color: #306bff;
}
