.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  gap: var(--current-spacing-xs);
  align-items: center;
  width: 100%;
  border-bottom: solid 3px red;
  padding-bottom: var(--current-spacing-xs);
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--border-color);
  border-radius: var(--current-border-radius);
  padding: calc(var(--current-spacing-xs) / 4) calc(var(--current-spacing-sm));
  gap: calc(var(--current-spacing-xs) / 2);
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  padding: var(--current-spacing-sm) var(--current-spacing-sm);
  gap: var(--current-spacing-xs);
  width: 100%;
  height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 900px) {
  .column {
    height: fit-content;
  }
  .cardsContainer {
    height: fit-content;
  }
}
