.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  gap: var(--current-spacing-sm);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
.title {
  display: flex;
  gap: var(--current-spacing-sm);
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--current-border-radius);
  gap: calc(var(--current-spacing-xs) / 2);
  color: var(--light-text-color);
}
.color {
  height: 3px;
  width: 50%;
  border-radius: var(--current-border-radius);
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
  padding: var(--current-spacing-sm) 0;
  gap: var(--current-spacing-xs);
  width: 100%;
  height: 90%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 900px) {
  .column {
    height: fit-content;
  }
  .cardsContainer {
    height: fit-content;
  }
}
