.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: var(--background-color);
  background-color: var(--backGround-color);
  overflow: hidden;
}
.loginContainer {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: var(--current-border-radius);
  display: flex;
  background-color: var(--backGround-color);
}

.form {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.formContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: calc(var(--current-spacing-lg));
  margin: auto;
}
.formContent .title {
  display: flex;
  flex-direction: column;
  gap: calc(var(--current-spacing-sm));
}
.formContent form {
  display: flex;
  flex-direction: column;
  gap: var(--current-spacing-md);
  width: 100%;
}
.formContent form input {
  font-size: var(--current-font-size-sm);
  outline: none;
  border: solid var(--text-color) 1px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: calc(var(--current-spacing-sm) * 0.7) var(--current-spacing-sm);
  border-radius: var(--current-border-radius);
}
.formContent form input::placeholder {
  font-size: var(--current-font-size-sm);
}
.formContent form label {
  color: var(--text-color);
}
.formContent form .forgetPassword {
  color: var(--primary-color);
  display: flex;
  width: 100%;
  align-items: end;
}
.formContent form .forgetPassword h5 {
  cursor: pointer;
}
.formContent form div {
  display: flex;
  flex-direction: column;
  gap: calc(var(--current-spacing-sm) / 2);
}
.formContent form .loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--current-spacing-sm) * 0.7) var(--current-spacing-sm);
  border-radius: var(--current-border-radius);
  cursor: pointer;
  font-size: var(--current-font-size-sm);
  font-weight: 600;
  background-color: var(--text-color);
  border: solid var(--text-color) 1px;
  transition: all ease-in-out 0.2s;
}
.formContent form .loginBtn:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  border: solid var(--border-color) 1px;
}

.loginBtnDisabled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--current-spacing-sm) * 0.7) var(--current-spacing-sm);
  border-radius: var(--current-border-radius);
  font-size: var(--current-font-size-sm);
  font-weight: 600;
  border: var(--border-color) solid;
  transition: all ease-in-out 0.2s;
  background-color: var(--border-color);
  cursor: normal;
}

@media (max-width: 1100px) {
  .loginContainer {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .picture {
    width: 100%;
    height: 40%;
    overflow: hidden;
  }
  .picture img {
    width: 100%;
    height: 200%;
    object-fit: cover;
    object-position: center;
  }
  .form {
    width: 100%;
    height: 100%;
  }
  .formContent {
    height: 100%;
    width: 80%;
    margin: none;
    justify-content: space-evenly;
  }
}
