.labels {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: var(--current-spacing-sm);
  border-left: var(--border-color) solid 1px;
  border-right: var(--border-color) solid 1px;
  height: 100%;
  padding: var(--current-spacing-sm);
}
.label {
  border: var(--border-color) solid 1px;
  border-radius: var(--current-border-radius);
}

@media (max-width: 1000px) {
  .labels {
    width: 100%;
    height: fit-content;
  }
}
