.delete {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: calc(var(--current-spacing-xs) / 1.5) calc(var(--current-spacing-xs));
  cursor: pointer;
  border-radius: var(--current-border-radius);
}
.delete:hover {
  background-color: var(--border-color);
}
