.contaner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: var(--current-spacing-lg);
  height: 90%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--current-spacing-sm);
  gap: var(--current-spacing-lg);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

