.newTag {
  display: flex;
  flex-direction: column;
  gap: var(--current-spacing-xs);
  padding: var(--current-spacing-xs);
  border-bottom: solid 1px var(--border-color);
  width: 100%;
}
.inputs {
  display: flex;
  gap: var(--current-spacing-xs);
  width: 100%;
}
.input {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
  width: 80%;
}
.input:focus {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
.input:hover {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
.input::placeholder {
  color: var(--light-text-color);
}
