.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light-text-color);
}
.color {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 50%;
  flex-shrink: 0;
}
.row {
  display: flex;
  align-items: center;
  gap: var(--current-spacing-sm);
  cursor: pointer;
}
.miniCard {
  display: flex;
  flex-direction: column;
  gap: var(--current-spacing-xs);
}
