.tagLable {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: calc(var(--current-spacing-xs) / 2);
  color: var(--text-color);
  cursor: pointer;
  border-bottom: var(--border-color) solid 1px;
}
.tagLable:hover {
  background-color: var(--border-color);
}
.tagLable .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--current-spacing-xs);
}
.tagLable .title .icon {
  font-size: var(--current-font-size-lg);
}
